
body,
html {
    margin:0;
    padding:0;
    color:#000;
    font: 13pt Arial, Helvetica, sans-serif; /* Шрифт теста */
    font-size: 18px;
    background: #8fa09b;
}

h2 {
    display: block;
    font-size: 18px; /* Размер шрифта в заголовке */
    color: #080808; /* Цвет заголовка */
    margin-top: auto; /* Отступ сверху */
}
.container {
    width: 1520px; /* Ширина слоя */
    height: 1000px;
    background: #cccccc;
}
.header {
    border-style: solid;
    display: block;
    font-size: 38px; /* Размер текста в шапке */
    text-align: center; /* Выравнивание текст шапки по центру */
    padding: 5px; /* Отступы внутри блока шапки */
    background:#85369f; /* Цвет фона шапки */
    color: #fff; /* Цвет текста */
}
.sidebar {
    background-color:#ffffff;
    position: relative;
    left: 22px;
    top: 0;
    bottom: 58px;
    right: 243px;
    border-radius: 2%;
    border-style: solid;
    margin-top: 25px;
    width: 198px; /* Ширина блока */
    height: 496px;
    padding: 0 10px; /* Отступы внутри левого блока */
    float: left; /* Обтекание блока по правому краю */
}
.content {
    position: relative;
    left: 26px;
    top: 1px;
    bottom: 58px;
    right: 230px;
    border-style: solid;
    border-radius: 2%;
    margin-left: 235px; /* Отступ слева */
    margin-right: 11px;
    margin-top: 25px;
    margin-bottom: 45px;
    width:843px;
    height:425px;
    padding: 36px; /* Отступы внутри правого блока */
    background:#ffffff ; /* Цвет фонравого блока */
}
.menubar {
    background: #ffffff;
    position: relative;
    left: 961px;
    top: -546px;
    bottom: 58px;
    right: 230px;
    border-style: solid;
    border-radius: 2%;
    margin-left: 235px; /* Отступ слева */
    width:230px;
    height:425px;
    padding: 36px; /* Отступы внутри правого блока */

}
.avatar{
    position: relative;
    left: 12px;
    top: -14px;
    width: 206px;
    height: 208px;
    border-radius: 60%;
}
.footer {
    background: #8fa09b; /* Цвет фона нижнего блока-подвала */
    padding-left: 12px;
    font-size: 14px;
    color: #fff; /* Цвет текста подвала */
    clear: left; /* Отменяем действие float */
}